@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.imagen {
  padding-left: 20px;
}


.titulo{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
.container{
 
  height: 100px;

  
}
